<form role="form" name="form" xmlns="http://www.w3.org/1999/html">

    <script cam-script type="text/form-script">
        inject(['$scope', '$http', function($scope, $http) {
           
            var variableManager = camForm.variableManager;
            $scope.order = {};
            $scope.orderID = "Bitte Order generieren";
            $scope.generateOrder = function() {
                $scope.orderID = "Bitte warten, generiere Order";
                $scope.order.orderLineItems = [];
                for (let index = 0; index < $scope.orderInformationen.orderLineItems.length; index++) {
                    const element = $scope.orderInformationen.orderLineItems[index];
                    $scope.order.orderLineItems.push({articleID : element.articleId, amount : element.amount, price: element.price, itemStatus : "erstellt"});
                }
                $scope.order.accountInfoID = $scope.orderInformationen.accountInfo.accountID;
                $scope.order.status = "erstellt";
                $scope.order.orderDate = new Date();
                $scope.order.rabatt = $scope.orderInformationen.discount;
                $scope.order.versandkosten = $scope.orderInformationen.shippingCosts;

                var req = {
                    method: 'POST',
                    url: 'https://projectmas.herokuapp.com/api/v1/order',
                    headers: {
                    'Content-Type': 'application/json',
                    'Accept' : '*/*',
                    'Access-Control-Expose-Headers':'Location'
                    },
                    data: JSON.stringify($scope.order)
                }
                $scope.orderID = "Bitte warten, sende Order an Server";
                $http(req).then(function(response){
                    try{
                        console.log(response.data);
                        $scope.order.orderID = response.data;
                        $scope.orderID  = response.data;
                    }catch(error){
                        console.log(error.message);
                    }
                },function(error){
                    console.log(error.message);
                });
                
            }
            camForm.on('form-loaded', function() {
    
                variableManager.fetchVariable('Orderinformationen'); 
      
            });
          
         
             camForm.on('variables-fetched', function() {

                $scope.orderInformationen = variableManager.variable('Orderinformationen').value;
            });

            camForm.on('submit', function (evt) {   
               if($scope.orderID ="Bitte Order generieren"){
                   evt.submitPrevented = true;
               }else{
                   evt.submitPrevented = false;
               }
                variableManager.createVariable({
                            name: 'order',
                            type: 'json',
                            value: $scope.order
                }); 

            });
        }]);
  </script>
    <div class="form-group">
        <label class="control-label">Orderinformationen: </label>
        <div class="form-group">
            <label class="control-label">Bestellte Artikel: </label>
            <div class="controls">
                <uib-tabset>
                    <uib-tab index="$index + 1" ng-repeat="article in orderInformationen.orderLineItems"
                        heading="{{article.productdescription.produktname}}">
                        <p>Artikelid: {{article.articleId}}</p>
                        <p>Artikelname: {{article.productdescription.produktname}}</p>
                        <p>Artikelpreis: {{article.price}}</p>
                        <p>Georderte Anzahl: {{article.amount}} €</p>
                        <p>Gesamtpreis: {{article.total}} €</p>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Artikelanzahl: </label>
            <div class="controls">
        
                <p>{{orderInformationen.articleAmount}} </p>
            </div>
        </div>
        <div class="form-group" ng-if="orderInformationen.discount > 0">
            <label class="control-label">Rabatt: </label>
            <div class="controls">
                <p>{{orderInformationen.discount}} %</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Versandkosten: </label>
            <div class="controls">
        
                <p>{{orderInformationen.shippingCosts}} €</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Gesamtpreis: </label>
            <div class="controls">
        
                <p>{{(orderInformationen.total * ((100-orderInformationen.discount)/100)  + orderInformationen.shippingCosts)}} €</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">OrderID: </label>
            <div class="controls">
        
                <p>{{orderID}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Order erstellen: </label>
            <div class="controls">
        
                <button type="button" class="btn btn-info" ng-click="generateOrder()">Generate Order</button>
            </div>
        </div>
    </div>
</form>