<form role="form" name="form" xmlns="http://www.w3.org/1999/html">

  <script cam-script type="text/form-script">
        inject(['$scope', '$http', function($scope, $http) {
          var variableManager = camForm.variableManager;
          $scope.orderConditions = {
            storno: false,
            shippingcosts: false,
            discount : 0
          };
          $scope.discount = 0;
          $scope.totalPrice = 0;
          $scope.calcTotal = function() {
            return $scope.totalPrice * (100 - $scope.discount)/100;
          }            
          // OnFormLoaded
          camForm.on('form-loaded', function() {
                    
              
            // Fetch Variables
    
            variableManager.fetchVariable('orderJSON'); // set by the engine
      
          });
          
          // OnVariablesFetched
          camForm.on('variables-fetched', function() {

              $scope.orderJSON = variableManager.variable('orderJSON').value;
              $scope.articles = [];
              
              console.log($scope.orderJSON);
              let parsed = JSON.parse($scope.orderJSON);
              console.log(parsed);
              $http.get("https://projectmas.herokuapp.com/api/v1/accounts/" + parsed.email + "/orderAmount").then(function(response){
                      console.log("ok")
                      $scope.orderAmount = response.data;
                      
                      
                  },function(error){
                      console.log(error.message);
                  })
              for (let index = 0; index < parsed.orderLineItems.length; index++) {
                  $http.get("https://projectmas.herokuapp.com/api/v1/article/" + parsed.orderLineItems[index].articleId).then(function(response){
                      console.log("ok")
                      $scope.articles[index] = response.data;
                      $scope.articles[index].amount = parsed.orderLineItems[index].amount;
                      $scope.articles[index].total = $scope.articles[index].amount * $scope.articles[index].price;
                      $scope.totalPrice += $scope.articles[index].total;
                  },function(error){
                      console.log(error.message);
                  })
  
              } 
            
          });

          camForm.on('submit', function (evt) {   
            variableManager.createVariable({
              name: 'orderLineItems',
              type: 'json',
              value: {orderLineItems : $scope.articles}
            }); 
          });
        }]);
  </script>
  <div class="form-group">
    <label class="control-label">Orderinformationen: </label>
    <div class="form-group">
      <label class="control-label">Bestellte Artikel: </label>
      <div class="controls">
        <uib-tabset>
          <uib-tab index="$index + 1" ng-repeat="article in articles" heading="{{article.productdescription.produktname}}">
            <p>Artikelid: {{article.articleId}}</p>
            <p>Artikelname: {{article.productdescription.produktname}}</p>
            <p>Artikelpreis: {{article.price}}</p>
            <p>Georderte Anzahl: {{article.amount}} €</p>
            <p>Gesamtpreis: {{article.total}} €</p>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <pre>{{orderConditions}}</pre>
    <pre>{{calcTotal}}</pre>
    <div class="form-group">
      <label class="control-label">Gesamtpreis: </label>
      <div class="controls">
        
        <p>{{totalPrice * (100-discount)/100}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Anzahl der Bestellungen: </label>
      <div class="controls">
        <p>{{orderAmount}}</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="orderConditions.shippingcosts" cam-variable-name="shippingscost" cam-variable-type="Boolean" uib-btn-checkbox>Lieferkosten erlassen</label>
      <label class="btn btn-primary" ng-model="orderConditions.storno" cam-variable-name="storno" cam-variable-type="Boolean" uib-btn-checkbox>Order stornieren</label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Lieferkosten erlassen?</label>
    <div class="controls">
      <input type="checkbox" cam-variable-name="shippingscost" cam-variable-type="Boolean" name="shippingcost"
        class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Bestellung stornieren?</label>
    <div class="controls">
      <input type="checkbox" cam-variable-name="storno" cam-variable-type="Boolean" name="storno"
        class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Rabatt für die Bestellung</label>
    <div class="controls">
      <input type="number" cam-variable-name="discount" cam-variable-type="Double" name="discount" class="form-control" value="0" (onchange)="calculateTotal" />
    </div>
  </div>
</form>