<form role="form" name="form" xmlns="http://www.w3.org/1999/html">

    <script cam-script type="text/form-script">
        inject(['$scope', '$http', function($scope, $http) {
          var variableManager = camForm.variableManager;
          $scope.speditionsauftrag = {};
          $scope.bestellung = [];
          $scope.generiereSpeditionsauftrag = function () {
             
            var req = {
                method: 'POST',
                url: 'https://projectmas.herokuapp.com/api/v1/importeurauftrag',
                headers: {
                'Content-Type': 'application/json',
                'Accept' : '*/*',
                'Access-Control-Expose-Headers':'Location'
                },
                data: JSON.stringify({lieferauftraege :$scope.lieferauftraege})
            }
            $http(req).then(function(response){
                $scope.speditionsauftrag = response.data
                try{
                for(let i=0;i<$scope.speditionsauftrag.lieferauftraege.length;i++) {
                    for(let ii=0;ii< $scope.speditionsauftrag.lieferauftraege[i].banfItems.length; ii++) {
                        for(const article of $scope.banf) {
                            if (article.banf.itemID == $scope.speditionsauftrag.lieferauftraege[i].banfItems[ii].itemID) {
                                $scope.speditionsauftrag.lieferauftraege[i].banfItems[ii].article = article;
                            }
                        }
                    }
                }
            }catch(error){
                console.log(error);
            }

                
                console.log($scope.speditionsauftrag);
            },function(error){
                console.log(error);
            })
                
                    
                
          }
          camForm.on('form-loaded', function() {
    
            variableManager.fetchVariable('Lieferauftraege');
            variableManager.fetchVariable('Banf');
      
          });
          
          // OnVariablesFetched
          camForm.on('variables-fetched', function() {

            $scope.lieferauftraege = variableManager.variable('Lieferauftraege').value;
            $scope.banf = variableManager.variable('Banf').value;
           
          
          });

          camForm.on('submit', function (evt) {
            variableManager.createVariable({
              name: 'Speditionsauftrag',
              type: 'json',
              value: $scope.speditionsauftrag
            }); 
            
          });
        }]);
  </script>
    <div class="form-group" ng-if="speditionsauftrag">
        <label class="control-label">Speditionsauftrag </label>
        <div class="form-group">
            <label class="control-label">Übersicht: </label>
            <div class="controls">
                <div ng-repeat="auftrag in speditionsauftrag.lieferauftraege">
                    <p>Lieferauftrag Nummer: {{auftrag.lieferauftragsID}}</p>
                    <div ng-repeat="banfitem in auftrag.banfItems">
                    <p>ArticleName: {{banfitem.article.productdescription.produktname}}</p>
                    <p>Anzahl: {{banfitem.amount}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="controls">

            <button type="button" class="btn btn-info" ng-click="generiereSpeditionsauftrag()">Speditionsauftrag erstellen</button>
        </div>
    </div>
   
</form>